@media only screen and (max-width:992px) {
    #responsive-header{
        display: none;
    }
    .container{
        margin:0 5% ;
    }
    .navigation{
        max-width:70%;
    }
   .social-icon{
    
  
}
@media only screen and (min-width:1900px){
    #header{
        display: none;
    }
 
   
}

